
.introBox {
	@include debug-outline(skyblue);

	//@include vendor('display', 'flex');
	//@include vendor('align-items', 'center');

	margin:
			_size(banner-intro-top-margin)
			auto
			_size(banner-intro-bottom-margin);
	padding: 2em;
	//max-width: max-content;

	//padding: 1em 1em 2em 1em;
	width: max-content;
	max-width: 100%;

	//background-color: _palette(bg-alt3-transparent);
	//border-radius: _size(introBox-border-radius);


	@include breakpoint('<=small') {
		@include vendor('display', 'block');
	}

	&.wide {
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');
	}

	&.tall {
		@include vendor('display', 'flex');
		@include vendor('align-items', 'center');
		@include vendor('flex-direction', 'column');

		margin-top: _size(banner-project-top-margin);
		margin-bottom: _size(banner-project-bottom-margin);
	}

	&.framed {
		background-color: _palette(bg-alt3-transparent);
		border-radius: _size(introBox-border-radius);
	}



	.introTextBox {
		@include debug-outline(purple);

		@include vendor('display', 'block');
		@include vendor('align-items', 'center');

		.introText {
			@include debug-outline(yellow);

			font-weight: _font(weight-bold);

			width: auto;
			max-width: 65ch;
			margin: 0 auto 0 5%;

			h5 {
				@include vendor('text-align', 'center');

				color: white !important;
			}
		}

		@include breakpoint('<=small') {
			.introText {
				margin: 0 auto;
			}
		}
	}

	&.introAboutMe {
		@include debug-outline(blue);

		margin-top: 2em;
		margin-bottom: 2em;

		padding: 1em;

		//width: calc(100% - 20em);

		//width: 100%;
	}

	.introPortrait {
		@include debug-outline(red);

		//width: 25%;
		//min-width: 100%;
		//min-width: 40%;
		//max-width: 5%;
		width: 450px;
		max-width: 100%;
		margin: 0 auto 0 auto;
		border-radius: _size(introBox-border-radius);

		background-color: desaturate(lighten(_palette(bg), 0), 1);

		&.aboutMe {
			width: 100%;
		}

		@include breakpoint('<=small') {
			width: 350px;
		}

		//@include debug-outline(greenyellow);
		img {
			//border-radius: 48px;
			border-radius: _size(introBox-image-radius);

		}
	}

	@include breakpoint('<=medium') {
		margin-top: _size(banner-project-top-margin) / 2;
		margin-bottom: _size(banner-project-bottom-margin) / 2;
	}

	@include breakpoint('<=small') {
		margin-top: _size(banner-project-top-margin) / 4;
		margin-bottom: _size(banner-project-bottom-margin) / 4;
	}

	@include breakpoint('<=xsmall') {
		margin-top: _size(banner-project-top-margin) / 8;
		margin-bottom: _size(banner-project-bottom-margin) / 8;

	}

}

.scrollToContentButton {
	@include debug-outline(orange);

	@include vendor('display', 'flex');
	//@include vendor('align-items', 'flex-end');
	@include vendor('justify-content', 'center');

	//width: max-content;
	width: 100%;
	//margin: 0.5em auto _size(banner-intro-bottom-margin);
	margin: 2em auto 0;

	* {
		font-size: 8em !important;
	}
}